<footer class="site-footer">

  <div class="wrapper">
    <div class="social-links">
      <a class="social-link social-github" href="https://github.com/{{ site.github_username }}">
        <i class="icon-github"></i>
      </a>
      <a class="social-link social-email" href="mailto:{{ site.email }}">
        <i class="icon-envelope-open"></i>
      </a>
      <a class="social-link social-rss" href="{{ "/atom.xml" | relative_url  }}" target="_blank">
        <i class="icon-rss"></i>
      </a>
    </div>
    <div class="credits">
      <p>KAGAMI, made with <i class="icon-heart"></i> by Kamikat.</p>
      <p>© 2020 AoraMD. All rights reserved.</p>
    </div>
  </div>

</footer>
